.container {
  width: 100%;
  height: 100%;

  #cesiumDom {
    width: 100%;
    height: 100%;
    background-color: #0000;
  }
  :global {
    .cesium-widget-credits {
      /* 去除logo */
      display: none !important;
    }
  }
}
